In [1]:
import os
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.functions import to_json
from pyspark.sql import Row
from pyspark.sql import DataFrameWriter
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.mongodb.spark:mongo-spark-connector_2.11:2.2.0 pyspark-shell'

In [3]:
"mongodb://accretioadmin:adminaccretio&2017@accretio-2-tnr.advyteam.com:27017"
conf = SparkConf()\
    .setAppName("pyspark mongo")\
    .setMaster("local[*]")\
    .set("spark.mongodb.input.uri", "mongodb://accretioadmin:adminaccretio&2017@172.17.0.1:27017" )\
    .set("spark.mongodb.input.database", "coreRh")\
    .set("spark.mongodb.input.collection", "organizational_entity")

In [4]:
if 'sc' in locals():
    sc.stop()
sc = SparkContext(conf=conf)
sql_context = SQLContext(sc)
df = sql_context\
    .read\
    .format("com.mongodb.spark.sql.DefaultSource")\
    .load()

In [5]:
df.take(1)

[Row(_class='com.advyteam.sirh.domain.OrganizationalEntity', _id=Row(oid='5babc4ec8aae900008a6aac8'), code='E001', company=Row($ref='company', $id=Row(oid='5babc4eb8aae900008a6aac4')), effective_date=datetime.datetime(2011, 9, 30, 13, 0), entity_manager=Row(_id=None, entity_manager='5babc4ed8aae900008a6ab2a', entity_manager_end_date=None, entity_manager_start_date=datetime.datetime(2018, 9, 30, 13, 0)), entity_manager_history=None, label='Direction Générale', parent_entity=None, parent_entity_history=None, status='STA_ACT', type='DG')]

In [6]:
crs = ["CRTypeOE","CRStatus"]
sql_field=["OEType","OEStatus"]
crs_fields = dict(zip(crs, sql_field))

## read values from df

In [7]:
def verify(obj, att):
    if hasattr(obj, att) and obj is not None:
          return obj[att] 
    else:
        return None

In [8]:
def affectation(k):
    m=dict()
    t=""
    m['OEAlternateKey']=verify(k,"code")
    m['Status']="Actif"
    m['Label_org_entity']=verify(k,"label")
    m['CROEType']=verify(k,"type")
    m['CROEStatus']=verify(k,"status")
    m['EffectiveDate']=verify(k,"effective_date")
    m['EndDate']=verify(k,"effective_date")
    m['StartDate']=verify(k,"effective_date")
    m['EntityManagerKey']="5"
    m['ParentOEKey'] = 1

#     x=verify(k,"entity_manager")
#     if x is not None :
#         m['EntityManagerKey']=verify(x,"entity_manager")
#     else :
#         m['EntityManagerKey'] = None  
        
#     x=verify(k,"parent_entity")
#     if x is not None :
#         m['ParentOEKey']=verify(x,"parent_entity")
#     else :
#         m['ParentOEKey'] = None   
        
    x=verify(k,"company")
    if x is not None :
        m['Company']=x[1].oid 
    else :
        m['Company'] = None  
        
 
    return m

In [9]:
# listt=[]
temp=dict()
listt=[]
listk=[]
for k in df.collect():
    t=""
    temp = affectation(k)
    
    output = Row(**temp)
    listk.append(output)     
    
listt.extend(listk)

rdd = sc.parallelize(listt)
df1=sql_context.createDataFrame(rdd,samplingRatio=0.2)# ,schema=schema

In [10]:
df1.take(1)

[Row(CROEStatus='STA_ACT', CROEType='DG', Company='5babc4eb8aae900008a6aac4', EffectiveDate=datetime.datetime(2011, 9, 30, 13, 0), EndDate=datetime.datetime(2011, 9, 30, 13, 0), EntityManagerKey='5', Label_org_entity='Direction Générale', OEAlternateKey='E001', ParentOEKey=1, StartDate=datetime.datetime(2011, 9, 30, 13, 0), Status='Actif')]

In [11]:
df1.write.format('com.databricks.spark.csv').save('csv_files/oe.csv',header=True, mode="overwrite")

# CRS

In [12]:
def load_cr(cr_name, field_name):  # field_name is the field name in the sql db
    global sc
    sc.stop()
    conf = SparkConf()\
    .setAppName("pyspark mongo")\
    .setMaster("local[*]")\
    .set("spark.driver.allowmultiplecontexts",True)\
    .set("spark.mongodb.input.uri", "mongodb://accretioadmin:adminaccretio&2017@172.17.0.1:27017")\
    .set("spark.mongodb.input.database", "dataAndTranslation")\
    .set("spark.mongodb.input.collection", cr_name)
    sc = SparkContext(conf=conf)
    sql_context = SQLContext(sc)
    df = sql_context\
    .read\
    .format("com.mongodb.spark.sql.DefaultSource")\
    .load()
    
    listt=[]
    listk=[]

            
  
    for i in df.collect():
        temp={}
        #print(i.value.label[0][0])
        temp['code']=i.code
        #print("here",i.value.label[0].value)
        temp[f'{field_name}']=i.value.label[0][0] # HERE WE PUT THE NAÙE OF THE SQL FIELD
        output = Row(**temp)
        listt.append(output)
    rdd = sc.parallelize(listt)
    c=sql_context.createDataFrame(rdd)    
    c.write.format('com.databricks.spark.csv').save(f'csv_files/{cr_name}.csv',header=True, mode="overwrite")

In [13]:
for key, value in crs_fields.items():
    load_cr(key,value)

# JOIN

In [14]:
if 'sc' in locals():
    sc.stop()
conf=SparkConf()
sc=SparkContext(conf=conf)
sql_context=SQLContext(sc)

In [15]:
org_entity=sql_context.read.csv('csv_files/oe.csv',header='true') #,schema=schema

In [16]:
org_entity.take(1)

[Row(CROEStatus='STA_NACT', CROEType='CR_TYP_3', Company='5babc4eb8aae900008a6aac4', EffectiveDate='2011-09-29T13:00:00.000+01:00', EndDate='2011-09-29T13:00:00.000+01:00', EntityManagerKey='5', Label_org_entity='MPS', OEAlternateKey='E019', ParentOEKey='1', StartDate='2011-09-29T13:00:00.000+01:00', Status='Actif')]

In [17]:
list_crs = list()
for key in crs_fields:
    csv_cr = sql_context.read.csv(f'csv_files/{key}.csv',header='true')
    list_crs.append(csv_cr)

In [18]:
df = org_entity
for d in list_crs:
    df = df.join(d, df["CR"+d.columns[0]]==d.code, how='outer')

In [19]:
df.take(2)

[Row(CROEStatus=None, CROEType=None, Company=None, EffectiveDate=None, EndDate=None, EntityManagerKey=None, Label_org_entity=None, OEAlternateKey=None, ParentOEKey=None, StartDate=None, Status=None, OEType='Sous/Sous-Direction', code='SSDIR', OEStatus=None, code=None),
 Row(CROEStatus=None, CROEType=None, Company=None, EffectiveDate=None, EndDate=None, EntityManagerKey=None, Label_org_entity=None, OEAlternateKey=None, ParentOEKey=None, StartDate=None, Status=None, OEType='Sous-Direction', code='SDIR', OEStatus=None, code=None)]

In [20]:
condition = lambda col: 'CR' in col or col=="code"
new_df = df.drop(*filter(condition, df.columns))

In [21]:
new_df=new_df.where("OEAlternateKey!='None'")

In [22]:
new_df.take(2)

[Row(Company='5babc4eb8aae900008a6aac4', EffectiveDate='2011-09-29T13:00:00.000+01:00', EndDate='2011-09-29T13:00:00.000+01:00', EntityManagerKey='5', Label_org_entity='MPS', OEAlternateKey='E019', ParentOEKey='1', StartDate='2011-09-29T13:00:00.000+01:00', Status='Actif', OEType='Département', OEStatus='Inactif'),
 Row(Company='5babc4eb8aae900008a6aac4', EffectiveDate='2011-09-29T13:00:00.000+01:00', EndDate='2011-09-29T13:00:00.000+01:00', EntityManagerKey='5', Label_org_entity='R&D', OEAlternateKey='E020', ParentOEKey='1', StartDate='2011-09-29T13:00:00.000+01:00', Status='Actif', OEType='Direction', OEStatus='Actif')]

In [23]:
new_df.write.format('com.databricks.spark.csv').save(f'csv_files/final_oe.csv',header=True, mode="overwrite")

In [24]:
import pandas as pd
df_pandas = pd.DataFrame(new_df.head(3), columns=new_df.columns)

In [25]:
df_pandas.head()

,Company,EffectiveDate,EndDate,EntityManagerKey,Label_org_entity,OEAlternateKey,ParentOEKey,StartDate,Status,OEType,OEStatus
0,5babc4eb8aae900008a6aac4,2011-09-29T13:00:00.000+01:00,2011-09-29T13:00:00.000+01:00,5,MPS,E019,1,2011-09-29T13:00:00.000+01:00,Actif,Département,Inactif
1,5babc4eb8aae900008a6aac4,2011-09-29T13:00:00.000+01:00,2011-09-29T13:00:00.000+01:00,5,R&D,E020,1,2011-09-29T13:00:00.000+01:00,Actif,Direction,Actif
2,5babc4eb8aae900008a6aac4,2011-09-30T13:00:00.000+01:00,2011-09-30T13:00:00.000+01:00,5,PMO,E021,1,2011-09-30T13:00:00.000+01:00,Actif,Service,Actif

# &ref

In [26]:
if 'sc' in locals():
    sc.stop()

In [27]:
conf = SparkConf()\
    .setAppName("pyspark mongo")\
    .setMaster("local[*]")\
    .set("spark.mongodb.input.uri","mongodb://accretioadmin:adminaccretio&2017@172.17.0.1:27017")\
    .set("spark.mongodb.input.database", "coreRh")\
    .set("spark.mongodb.input.collection", 'company')
sc = SparkContext(conf=conf)
sql_context = SQLContext(sc)
df = sql_context\
    .read\
    .format("com.mongodb.spark.sql.DefaultSource")\
    .load()

df=df.withColumn('_id', df._id.oid)
df=df.selectExpr('_id','label')


df.write.format('com.databricks.spark.csv').save(f'csv_files/ref/company.csv',header=True, mode="overwrite")

In [28]:
df.take(2)

[Row(_id='5babc4eb8aae900008a6aac4', label='Advyteam Groupe')]

In [29]:
if 'sc' in locals():
    sc.stop()
conf=SparkConf()
sc=SparkContext(conf=conf)
sql_context=SQLContext(sc)

In [30]:
df_oe=sql_context.read.csv('csv_files/final_oe.csv',header='true')

In [31]:
company=sql_context.read.csv('csv_files/ref/company.csv',header='true')

In [32]:
df_oe.take(1)

[Row(Company='5babc4eb8aae900008a6aac4', EffectiveDate='2011-09-29T13:00:00.000+01:00', EndDate='2011-09-29T13:00:00.000+01:00', EntityManagerKey='5', Label_org_entity='MPS', OEAlternateKey='E019', ParentOEKey='1', StartDate='2011-09-29T13:00:00.000+01:00', Status='Actif', OEType='Département', OEStatus='Inactif')]

In [33]:
df=df_oe.join(company,df_oe.Company==company._id,how='left')
df = df.drop("Company","_id")
df = df.withColumnRenamed("label", "Company")

In [34]:
schema = StructType([
    StructField("OEAlternateKey", StringType()),
    StructField("Label", StringType()),
    StructField("EffectiveDate", TimestampType()),
    StructField("ParentOEKey", StringType()),
    StructField("EntityManagerKey", StringType()),
    StructField("OEType", StringType()),
    StructField("OEStatus", StringType()),
    StructField("Company", StringType()),
    StructField("StartDate", TimestampType()),
    StructField("EndDate", TimestampType()),
    StructField("Status", StringType())    
])

In [35]:
#df=sql_context.createDataFrame(df.rdd, schema=schema)

In [36]:
df_pandas = pd.DataFrame(df.head(15), columns=df.columns)

In [37]:
list_dates=["EffectiveDate","StartDate","EndDate"]

In [38]:
if 'temp_df' in locals():
    del temp_df
for i in list_dates:
    if 'temp_df' in locals():
        df=temp_df
    temp_df= df.withColumn(i, df[i].cast(TimestampType()))

In [39]:
temp_df = temp_df.withColumn("ParentOEKey", temp_df["ParentOEKey"].cast(IntegerType()))

In [40]:
temp_df = temp_df.withColumn("EntityManagerKey", temp_df["EntityManagerKey"].cast(IntegerType()))

In [41]:
temp_df.printSchema()

root
 |-- EffectiveDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- EntityManagerKey: integer (nullable = true)
 |-- Label_org_entity: string (nullable = true)
 |-- OEAlternateKey: string (nullable = true)
 |-- ParentOEKey: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- Status: string (nullable = true)
 |-- OEType: string (nullable = true)
 |-- OEStatus: string (nullable = true)
 |-- Company: string (nullable = true)

In [42]:
df = df.withColumnRenamed("Label_org_entity", "Label")

In [60]:
df_pandas = pd.DataFrame(df.head(13), columns=df.columns)
df_pandas

SyntaxError: invalid syntax (<ipython-input-60-f1ba910ce64d>, line 2)

In [45]:
df= df.withColumn("EndDate", df["EndDate"].cast(TimestampType()))

In [46]:
df = df.withColumn("ParentOEKey", df["ParentOEKey"].cast(IntegerType()))

In [47]:
df = df.withColumn("EntityManagerKey", df["EntityManagerKey"].cast(IntegerType()))

In [48]:
# from pyspark.sql.functions import lit

# df = df.withColumn('OEKey', lit(None).cast(IntegerType()))

In [49]:
df.printSchema()

root
 |-- EffectiveDate: timestamp (nullable = true)
 |-- EndDate: timestamp (nullable = true)
 |-- EntityManagerKey: integer (nullable = true)
 |-- Label: string (nullable = true)
 |-- OEAlternateKey: string (nullable = true)
 |-- ParentOEKey: integer (nullable = true)
 |-- StartDate: timestamp (nullable = true)
 |-- Status: string (nullable = true)
 |-- OEType: string (nullable = true)
 |-- OEStatus: string (nullable = true)
 |-- Company: string (nullable = true)

In [50]:
df=df.where("OEAlternateKey!='None'")

In [51]:
df_pandas = pd.DataFrame(df.head(13), columns=df.columns)
df_pandas

,EffectiveDate,EndDate,EntityManagerKey,Label,OEAlternateKey,ParentOEKey,StartDate,Status,OEType,OEStatus,Company
0,2011-09-29 13:00:00,2011-09-29 13:00:00,5,MPS,E019,1,2011-09-29 13:00:00,Actif,Département,Inactif,Advyteam Groupe
1,2011-09-29 13:00:00,2011-09-29 13:00:00,5,R&D,E020,1,2011-09-29 13:00:00,Actif,Direction,Actif,Advyteam Groupe
2,2011-09-30 13:00:00,2011-09-30 13:00:00,5,PMO,E021,1,2011-09-30 13:00:00,Actif,Service,Actif,Advyteam Groupe
3,2011-09-30 13:00:00,2011-09-30 13:00:00,5,Architecture,E022,1,2011-09-30 13:00:00,Actif,Service,Inactif,Advyteam Groupe
4,2011-09-30 13:00:00,2011-09-30 13:00:00,5,SI,E023,1,2011-09-30 13:00:00,Actif,None,Actif,Advyteam Groupe
5,2011-10-01 01:00:00,2011-10-01 01:00:00,5,DEVOPS,E024,1,2011-10-01 01:00:00,Actif,None,Actif,Advyteam Groupe
6,2011-10-01 13:00:00,2011-10-01 13:00:00,5,Talent,E025,1,2011-10-01 13:00:00,Actif,None,Actif,Advyteam Groupe
7,2011-09-30 13:00:00,2011-09-30 13:00:00,5,Connect,E026,1,2011-09-30 13:00:00,Actif,None,Actif,Advyteam Groupe
8,2011-09-30 01:00:00,2011-09-30 01:00:00,5,Easy Run,E027,1,2011-09-30 01:00:00,Actif,None,Actif,Advyteam Groupe
9,2011-09-30 13:00:00,2011-09-30 13:00:00,5,Core RH,E028,1,2011-09-30 13:00:00,Actif,None,Actif,Advyteam Groupe
10,2011-09-29 13:00:00,2011-09-29 13:00:00,5,Mobile,E029,1,2011-09-29 13:00:00,Actif,None,Actif,Advyteam Groupe
11,2011-09-30 13:00:00,2011-09-30 13:00:00,5,BU IT Services,E030,1,2011-09-30 13:00:00,Actif,None,Actif,Advyteam Groupe
12,2018-12-31 01:00:00,2018-12-31 01:00:00,5,COMPTABILITE OUTSOURCING,E051,1,2018-12-31 01:00:00,Actif,Service,Actif,Advyteam Groupe

In [52]:
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.postgresql:postgresql:9.4.1207.jre7 pyspark-shell'

In [53]:
from pyspark.sql import DataFrameWriter

def write_df_to_table(df_writer, table):
    jdbc_url = "jdbc:postgresql://localhost:5432/corerhdm"
    mode = "append"
    properties = {"user": "postgres",
                  "password": "123456789"} #,                  "driver": "org.postgresql.Driver"
    driver= "org.postgresql.Driver"

    print("Writing to {}".format(table))
    df_writer.jdbc(jdbc_url, table, mode, properties)

In [55]:
write_df_to_table(DataFrameWriter(df),'dimoe')

Writing to dimoe

# Read from Postgres

In [56]:
properties = {"user": "postgres",
              "password": "123456789"} #,

In [58]:
df = sql_context.read.jdbc(url="jdbc:postgresql://localhost:5432/corerhdm",table='dimoe',properties=properties)

In [62]:
df_pandas = pd.DataFrame(df.head(13), columns=df.columns)
df_pandas.head(2)

,OEKey,OEAlternateKey,Label,EffectiveDate,ParentOEKey,EntityManagerKey,OEType,OEStatus,Company,StartDate,EndDate,Status
0,1,E019,MPS,2011-09-29,1,5,Département,Inactif,Advyteam Groupe,2011-09-29,2011-09-29,Actif
1,2,E020,R&D,2011-09-29,1,5,Direction,Actif,Advyteam Groupe,2011-09-29,2011-09-29,Actif

# Load from mongo

In [63]:
"mongodb://accretioadmin:adminaccretio&2017@accretio-2-tnr.advyteam.com:27017"
conf = SparkConf()\
    .setAppName("pyspark mongo")\
    .setMaster("local[*]")\
    .set("spark.mongodb.input.uri", "mongodb://accretioadmin:adminaccretio&2017@172.17.0.1:27017" )\
    .set("spark.mongodb.input.database", "coreRh")\
    .set("spark.mongodb.input.collection", "organizational_entity")

In [64]:
if 'sc' in locals():
    sc.stop()
sc = SparkContext(conf=conf)
sql_context = SQLContext(sc)
df = sql_context\
    .read\
    .format("com.mongodb.spark.sql.DefaultSource")\
    .load()

In [65]:
df.take(1)

[Row(_class='com.advyteam.sirh.domain.OrganizationalEntity', _id=Row(oid='5babc4ec8aae900008a6aac8'), code='E001', company=Row($ref='company', $id=Row(oid='5babc4eb8aae900008a6aac4')), effective_date=datetime.datetime(2011, 9, 30, 13, 0), entity_manager=Row(_id=None, entity_manager='5babc4ed8aae900008a6ab2a', entity_manager_end_date=None, entity_manager_start_date=datetime.datetime(2018, 9, 30, 13, 0)), entity_manager_history=None, label='Direction Générale', parent_entity=None, parent_entity_history=None, status='STA_ACT', type='DG')]

In [66]:
def affectation(k):
    m=dict()
    t=""
    m['code']=verify(k,"code")   
    
    ms=verify(k,"parent_entity")
    if ms is not None :
        m['parent_entity']=verify(ms,"parent_entity")
    else :
        m['parent_entity'] = None 
        
 
    return m

In [67]:
# listt=[]
temp=dict()
listt=[]
listk=[]
for k in df.collect():
    t=""   
    temp = affectation(k)
    
    output = Row(**temp)
    listk.append(output)     
    
listt.extend(listk)

rdd = sc.parallelize(listt)
df1=sql_context.createDataFrame(rdd,samplingRatio=0.2)# ,schema=schema

In [72]:
df1.write.format('com.databricks.spark.csv').save('csv_files/oe.csv',header=True, mode="overwrite")